#!/bin/bash

DIRNAME=gitea-dump-$(date +%s)
DIRPATH={{ gitea_backup_dir }}/temp/$DIRNAME
SETNAME={{ gitea_backup_dir }}/gitea-dump-$(date +%s).tar.gz

mkdir -p $DIRPATH

cp {{ gitea_config_file }} $DIRPATH/config.ini
cd $(dirname {{ gitea_working_dir }})
tar -czf $DIRPATH/data_dir.tar.gz $(basename {{ gitea_working_dir }})
mysqldump gitea > $DIRPATH/gitea-db.sql
gzip $DIRPATH/gitea-db.sql

cd $(dirname $DIRPATH)
tar -czf $SETNAME $DIRNAME
rm -rf $DIRPATH


